/* Margin top classes */

.mt-1 { margin-top: 0.25rem; /* 4px */ }
.mt-2 { margin-top: 0.5rem; /* 8px */ }
.mt-3 { margin-top: 0.75rem; /* 12px */ }
.mt-4 { margin-top: 1rem; /* 16px */ }
.mt-5 { margin-top: 1.25rem; /* 20px */ }
.mt-6 { margin-top: 1.5rem; /* 24px */ }
.mt-7 { margin-top: 1.75rem; /* 28px */ }
.mt-8 { margin-top: 2rem; /* 32px */ }
.mt-9 { margin-top: 2.25rem; /* 36px */ }
.mt-10 { margin-top: 2.5rem; /* 40px */ }
.mt-11 { margin-top: 2.75rem; /* 44px */ }
.mt-12 { margin-top: 3rem; /* 48px */ }
.mt-13 { margin-top: 3.25rem; /* 52px */ }
.mt-14 { margin-top: 3.5rem; /* 56px */ }
.mt-15 { margin-top: 3.75rem; /* 60px */ }
.mt-16 { margin-top: 4rem; /* 64px */ }
.mt-17 { margin-top: 4.25rem; /* 68px */ }
.mt-18 { margin-top: 4.5rem; /* 72px */ }
.mt-19 { margin-top: 4.75rem; /* 76px */ }
.mt-20 { margin-top: 5rem; /* 80px */ }
.mt-21 { margin-top: 5.25rem; /* 84px */ }
.mt-22 { margin-top: 5.5rem; /* 88px */ }
.mt-23 { margin-top: 5.75rem; /* 92px */ }
.mt-24 { margin-top: 6rem; /* 96px */ }
.mt-25 { margin-top: 6.25rem; /* 100px */ }
.mt-26 { margin-top: 6.5rem; /* 104px */ }
.mt-27 { margin-top: 6.75rem; /* 108px */ }
.mt-28 { margin-top: 7rem; /* 112px */ }
.mt-29 { margin-top: 7.25rem; /* 116px */ }
.mt-30 { margin-top: 7.5rem; /* 120px */ }
.mt-31 { margin-top: 7.75rem; /* 124px */ }
.mt-32 { margin-top: 8rem; /* 128px */ }
.mt-33 { margin-top: 8.25rem; /* 132px */ }
.mt-34 { margin-top: 8.5rem; /* 136px */ }
.mt-35 { margin-top: 8.75rem; /* 140px */ }
.mt-36 { margin-top: 9rem; /* 144px */ }
.mt-37 { margin-top: 9.25rem; /* 148px */ }
.mt-38 { margin-top: 9.5rem; /* 152px */ }
.mt-39 { margin-top: 9.75rem; /* 156px */ }
.mt-40 { margin-top: 10rem; /* 160px */ }
.mt-41 { margin-top: 10.25rem; /* 164px */ }
.mt-42 { margin-top: 10.5rem; /* 168px */ }
.mt-43 { margin-top: 10.75rem; /* 172px */ }
.mt-44 { margin-top: 11rem; /* 176px */ }
.mt-45 { margin-top: 11.25rem; /* 180px */ }
.mt-46 { margin-top: 11.5rem; /* 184px */ }
.mt-47 { margin-top: 11.75rem; /* 188px */ }
.mt-48 { margin-top: 12rem; /* 192px */ }
.mt-49 { margin-top: 12.25rem; /* 196px */ }
.mt-50 { margin-top: 12.5rem; /* 200px */ }
.mt-51 { margin-top: 12.75rem; /* 204px */ }
.mt-52 { margin-top: 13rem; /* 208px */ }
.mt-53 { margin-top: 13.25rem; /* 212px */ }
.mt-54 { margin-top: 13.5rem; /* 216px */ }
.mt-55 { margin-top: 13.75rem; /* 220px */ }
.mt-56 { margin-top: 14rem; /* 224px */ }
.mt-57 { margin-top: 14.25rem; /* 228px */ }
.mt-58 { margin-top: 14.5rem; /* 232px */ }
.mt-59 { margin-top: 14.75rem; /* 236px */ }
.mt-60 { margin-top: 15rem; /* 240px */ }
.mt-61 { margin-top: 15.25rem; /* 244px */ }
.mt-62 { margin-top: 15.5rem; /* 248px */ }
.mt-63 { margin-top: 15.75rem; /* 252px */ }
.mt-64 { margin-top: 16rem; /* 256px */ }
.mt-65 { margin-top: 16.25rem; /* 260px */ }
.mt-66 { margin-top: 16.5rem; /* 264px */ }
.mt-67 { margin-top: 16.75rem; /* 268px */ }
.mt-68 { margin-top: 17rem; /* 272px */ }
.mt-69 { margin-top: 17.25rem; /* 276px */ }
.mt-70 { margin-top: 17.5rem; /* 280px */ }
.mt-71 { margin-top: 17.75rem; /* 284px */ }
.mt-72 { margin-top: 18rem; /* 288px */ }
.mt-73 { margin-top: 18.25rem; /* 292px */ }
.mt-74 { margin-top: 18.5rem; /* 296px */ }
.mt-75 { margin-top: 18.75rem; /* 300px */ }
.mt-76 { margin-top: 19rem; /* 304px */ }
.mt-77 { margin-top: 19.25rem; /* 308px */ }
.mt-78 { margin-top: 19.5rem; /* 312px */ }
.mt-79 { margin-top: 19.75rem; /* 316px */ }
.mt-80 { margin-top: 20rem; /* 320px */ }
.mt-81 { margin-top: 20.25rem; /* 324px */ }
.mt-82 { margin-top: 20.5rem; /* 328px */ }
.mt-83 { margin-top: 20.75rem; /* 332px */ }
.mt-84 { margin-top: 21rem; /* 336px */ }
.mt-85 { margin-top: 21.25rem; /* 340px */ }
.mt-86 { margin-top: 21.5rem; /* 344px */ }
.mt-87 { margin-top: 21.75rem; /* 348px */ }
.mt-88 { margin-top: 22rem; /* 352px */ }
.mt-89 { margin-top: 22.25rem; /* 356px */ }
.mt-90 { margin-top: 22.5rem; /* 360px */ }
.mt-91 { margin-top: 22.75rem; /* 364px */ }
.mt-92 { margin-top: 23rem; /* 368px */ }
.mt-93 { margin-top: 23.25rem; /* 372px */ }
.mt-94 { margin-top: 23.5rem; /* 376px */ }
.mt-95 { margin-top: 23.75rem; /* 380px */ }
.mt-96 { margin-top: 24rem; /* 384px */ }
.mt-97 { margin-top: 24.25rem; /* 388px */ }
.mt-98 { margin-top: 24.5rem; /* 392px */ }
.mt-99 { margin-top: 24.75rem; /* 396px */ }
.mt-100 { margin-top: 25rem; /* 400px */ }
