.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-11 {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-13 {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
}

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-15 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-17 {
  padding-top: 4.25rem;
  padding-bottom: 4.25rem;
}

.py-18 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.py-19 {
  padding-top: 4.75rem;
  padding-bottom: 4.75rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-21 {
  padding-top: 5.25rem;
  padding-bottom: 5.25rem;
}

.py-22 {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.py-23 {
  padding-top: 5.75rem;
  padding-bottom: 5.75rem;
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-25 {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.py-26 {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

.py-27 {
  padding-top: 6.75rem;
  padding-bottom: 6.75rem;
}

.py-28 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.py-29 {
  padding-top: 7.25rem;
  padding-bottom: 7.25rem;
}

.py-30 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.py-31 {
  padding-top: 7.75rem;
  padding-bottom: 7.75rem;
}

.py-32 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.py-33 {
  padding-top: 8.25rem;
  padding-bottom: 8.25rem;
}

.py-34 {
  padding-top: 8.5rem;
  padding-bottom: 8.5rem;
}

.py-35 {
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
}

.py-36 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.py-37 {
  padding-top: 9.25rem;
  padding-bottom: 9.25rem;
}

.py-38 {
  padding-top: 9.5rem;
  padding-bottom: 9.5rem;
}

.py-39 {
  padding-top: 9.75rem;
  padding-bottom: 9.75rem;
}

.py-40 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.py-41 {
  padding-top: 10.25rem;
  padding-bottom: 10.25rem;
}

.py-42 {
  padding-top: 10.5rem;
  padding-bottom: 10.5rem;
}

.py-43 {
  padding-top: 10.75rem;
  padding-bottom: 10.75rem;
}

.py-44 {
  padding-top: 11rem;
  padding-bottom: 11rem;
}

.py-45 {
  padding-top: 11.25rem;
  padding-bottom: 11.25rem;
}

.py-46 {
  padding-top: 11.5rem;
  padding-bottom: 11.5rem;
}

.py-47 {
  padding-top: 11.75rem;
  padding-bottom: 11.75rem;
}

.py-48 {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.py-49 {
  padding-top: 12.25rem;
  padding-bottom: 12.25rem;
}

.py-50 {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
}

.py-51 {
  padding-top: 12.75rem;
  padding-bottom: 12.75rem;
}

.py-52 {
  padding-top: 13rem;
  padding-bottom: 13rem;
}

.py-53 {
  padding-top: 13.25rem;
  padding-bottom: 13.25rem;
}

.py-54 {
  padding-top: 13.5rem;
  padding-bottom: 13.5rem;
}

.py-55 {
  padding-top: 13.75rem;
  padding-bottom: 13.75rem;
}

.py-56 {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.py-57 {
  padding-top: 14.25rem;
  padding-bottom: 14.25rem;
}

.py-58 {
  padding-top: 14.5rem;
  padding-bottom: 14.5rem;
}

.py-59 {
  padding-top: 14.75rem;
  padding-bottom: 14.75rem;
}

.py-60 {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.py-61 {
  padding-top: 15.25rem;
  padding-bottom: 15.25rem;
}

.py-62 {
  padding-top: 15.5rem;
  padding-bottom: 15.5rem;
}

.py-63 {
  padding-top: 15.75rem;
  padding-bottom: 15.75rem;
}

.py-64 {
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.py-65 {
  padding-top: 16.25rem;
  padding-bottom: 16.25rem;
}

.py-66 {
  padding-top: 16.5rem;
  padding-bottom: 16.5rem;
}

.py-67 {
  padding-top: 16.75rem;
  padding-bottom: 16.75rem;
}

.py-68 {
  padding-top: 17rem;
  padding-bottom: 17rem;
}

.py-69 {
  padding-top: 17.25rem;
  padding-bottom: 17.25rem;
}

.py-70 {
  padding-top: 17.5rem;
  padding-bottom: 17.5rem;
}

.py-71 {
  padding-top: 17.75rem;
  padding-bottom: 17.75rem;
}

.py-72 {
  padding-top: 18rem;
  padding-bottom: 18rem;
}

.py-73 {
  padding-top: 18.25rem;
  padding-bottom: 18.25rem;
}

.py-74 {
  padding-top: 18.5rem;
  padding-bottom: 18.5rem;
}

.py-75 {
  padding-top: 18.75rem;
  padding-bottom: 18.75rem;
}

.py-76 {
  padding-top: 19rem;
  padding-bottom: 19rem;
}

.py-77 {
  padding-top: 19.25rem;
  padding-bottom: 19.25rem;
}

.py-78 {
  padding-top: 19.5rem;
  padding-bottom: 19.5rem;
}

.py-79 {
  padding-top: 19.75rem;
  padding-bottom: 19.75rem;
}

.py-80 {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.py-81 {
  padding-top: 20.25rem;
  padding-bottom: 20.25rem;
}

.py-82 {
  padding-top: 20.5rem;
  padding-bottom: 20.5rem;
}

.py-83 {
  padding-top: 20.75rem;
  padding-bottom: 20.75rem;
}

.py-84 {
  padding-top: 21rem;
  padding-bottom: 21rem;
}

.py-85 {
  padding-top: 21.25rem;
  padding-bottom: 21.25rem;
}

.py-86 {
  padding-top: 21.5rem;
  padding-bottom: 21.5rem;
}

.py-87 {
  padding-top: 21.75rem;
  padding-bottom: 21.75rem;
}

.py-88 {
  padding-top: 22rem;
  padding-bottom: 22rem;
}

.py-89 {
  padding-top: 22.25rem;
  padding-bottom: 22.25rem;
}

.py-90 {
  padding-top: 22.5rem;
  padding-bottom: 22.5rem;
}

.py-91 {
  padding-top: 22.75rem;
  padding-bottom: 22.75rem;
}

.py-92 {
  padding-top: 23rem;
  padding-bottom: 23rem;
}

.py-93 {
  padding-top: 23.25rem;
  padding-bottom: 23.25rem;
}

.py-94 {
  padding-top: 23.5rem;
  padding-bottom: 23.5rem;
}

.py-95 {
  padding-top: 23.75rem;
  padding-bottom: 23.75rem;
}

.py-96 {
  padding-top: 24rem;
  padding-bottom: 24rem;
}

.py-97 {
  padding-top: 24.25rem;
  padding-bottom: 24.25rem;
}

.py-98 {
  padding-top: 24.5rem;
  padding-bottom: 24.5rem;
}

.py-99 {
  padding-top: 24.75rem;
  padding-bottom: 24.75rem;
}

.py-100 {
  padding-top: 25rem;
  padding-bottom: 25rem;
}