.text-black {
  color: #000000;
}

.text-white {
  color: #ffffff;
}

.text-green {
  color: green;
}

.text-green-1 {
  color: #0d400c;
}

.text-green-2 {
  color: #115510;
}

.text-green-3 {
  color: #146212;
}

.text-green-4 {
  color: #176f15;
}

.text-green-5 {
  color: #197c17;
}

.text-green-6 {
  color: #1c891a;
}

.text-green-7 {
  color: #1e961c;
}

.text-green-8 {
  color: #209e1e;
}

.text-green-9 {
  color: #22a71f;
}

.text-green-10 {
  color: #24b021;
}

.text-green-11 {
  color: #25b823;
}

.text-green-12 {
  color: #26bd23;
}

.text-green-13 {
  color: #27c124;
}

.text-green-14 {
  color: #29c926;
}

.text-green-15 {
  color: #2bd227;
}

.text-green-16 {
  color: #34d830;
}

.text-green-17 {
  color: #40db3d;
}

.text-green-18 {
  color: #4ddd4a;
}

.text-green-19 {
  color: #5ae057;
}

.text-green-20 {
  color: #6be368;
}

.text-green-21 {
  color: #73e471;
}

.text-green-22 {
  color: #7ce679;
}

.text-green-23 {
  color: #84e882;
}

.text-green-24 {
  color: #8ce98b;
}

.text-green-25 {
  color: #95eb93;
}

.text-red {
  color: red;
}

.text-red-1 {
  color: #770c00;
}

.text-red-2 {
  color: #910f00;
}

.text-red-3 {
  color: #a01000;
}

.text-red-4 {
  color: #af1200;
}

.text-red-5 {
  color: #be1300;
}

.text-red-6 {
  color: #ce1500;
}

.text-red-7 {
  color: #dd1600;
}

.text-red-8 {
  color: #e71700;
}

.text-red-9 {
  color: #f11800;
}

.text-red-10 {
  color: #fc1900;
}

.text-red-11 {
  color: #ff2007;
}

.text-red-12 {
  color: #ff240c;
}

.text-red-13 {
  color: #ff2911;
}

.text-red-14 {
  color: #ff321b;
}

.text-red-15 {
  color: #ff3b25;
}

.text-red-16 {
  color: #ff4935;
}

.text-red-17 {
  color: #ff5744;
}

.text-red-18 {
  color: #ff6553;
}

.text-red-19 {
  color: #ff7263;
}

.text-red-20 {
  color: #ff8577;
}

.text-red-21 {
  color: #ff8e81;
}

.text-red-22 {
  color: #ff978b;
}

.text-red-23 {
  color: #ffa096;
}

.text-red-24 {
  color: #ffa9a0;
}

.text-red-25 {
  color: #ffb3aa;
}

.text-blue {
  color: blue;
}

.text-blue-1 {
  color: #0a205e;
}

.text-blue-2 {
  color: #0c2875;
}

.text-blue-3 {
  color: #0e2d83;
}

.text-blue-4 {
  color: #0f3191;
}

.text-blue-5 {
  color: #11369f;
}

.text-blue-6 {
  color: #123bac;
}

.text-blue-7 {
  color: #143fba;
}

.text-blue-8 {
  color: #1543c3;
}

.text-blue-9 {
  color: #1646cd;
}

.text-blue-10 {
  color: #1749d6;
}

.text-blue-11 {
  color: #184cdf;
}

.text-blue-12 {
  color: #184ee4;
}

.text-blue-13 {
  color: #1a50e7;
}

.text-blue-14 {
  color: #2457e8;
}

.text-blue-15 {
  color: #2d5ee9;
}

.text-blue-16 {
  color: #3b69ea;
}

.text-blue-17 {
  color: #4873ec;
}

.text-blue-18 {
  color: #567eed;
}

.text-blue-19 {
  color: #6488ef;
}

.text-blue-20 {
  color: #7796f0;
}

.text-blue-21 {
  color: #809ef1;
}

.text-blue-22 {
  color: #89a5f2;
}

.text-blue-23 {
  color: #92acf3;
}

.text-blue-24 {
  color: #9bb3f4;
}

.text-blue-25 {
  color: #a5baf5;
}

.text-navy {
  color: navy;
}

.text-navy-1 {
  color: #00203f;
}

.text-navy-2 {
  color: #002d59;
}

.text-navy-3 {
  color: #003568;
}

.text-navy-4 {
  color: #003c77;
}

.text-navy-5 {
  color: #004486;
}

.text-navy-6 {
  color: #004c96;
}

.text-navy-7 {
  color: #0054a5;
}

.text-navy-8 {
  color: #0059af;
}

.text-navy-9 {
  color: #005eb9;
}

.text-navy-10 {
  color: #0063c4;
}

.text-navy-11 {
  color: #0069ce;
}

.text-navy-12 {
  color: #006bd3;
}

.text-navy-13 {
  color: #006ed8;
}

.text-navy-14 {
  color: #0073e2;
}

.text-navy-15 {
  color: #0078ec;
}

.text-navy-16 {
  color: #0080fc;
}

.text-navy-17 {
  color: #0c87ff;
}

.text-navy-18 {
  color: #1b8fff;
}

.text-navy-19 {
  color: #2b96ff;
}

.text-navy-20 {
  color: #3fa1ff;
}

.text-navy-21 {
  color: #49a6ff;
}

.text-navy-22 {
  color: #53abff;
}

.text-navy-23 {
  color: #5eb0ff;
}

.text-navy-24 {
  color: #68b5ff;
}

.text-navy-25 {
  color: #72baff;
}

.text-yellow {
  color: yellow;
}

.text-yellow-1 {
  color: #8e8e00;
}

.text-yellow-2 {
  color: #a8a800;
}

.text-yellow-3 {
  color: #b7b700;
}

.text-yellow-4 {
  color: #c6c600;
}

.text-yellow-5 {
  color: #d5d500;
}

.text-yellow-6 {
  color: #e5e500;
}

.text-yellow-7 {
  color: #f4f400;
}

.text-yellow-8 {
  color: #fefe00;
}

.text-yellow-9 {
  color: #ffff09;
}

.text-yellow-10 {
  color: #ffff14;
}

.text-yellow-11 {
  color: #ffff1e;
}

.text-yellow-12 {
  color: #ffff23;
}

.text-yellow-13 {
  color: #ffff28;
}

.text-yellow-14 {
  color: #ffff32;
}

.text-yellow-15 {
  color: #ffff3c;
}

.text-yellow-16 {
  color: #ffff4c;
}

.text-yellow-17 {
  color: #ffff5b;
}

.text-yellow-18 {
  color: #ffff6a;
}

.text-yellow-19 {
  color: #ffff7a;
}

.text-yellow-20 {
  color: #ffff8e;
}

.text-yellow-21 {
  color: #ffff98;
}

.text-yellow-22 {
  color: #ffffa2;
}

.text-yellow-23 {
  color: #ffffad;
}

.text-yellow-24 {
  color: #ffffb7;
}

.text-yellow-25 {
  color: #ffffc1;
}

.text-orange {
  color: orange;
}

.text-orange-1 {
  color: #895900;
}

.text-orange-2 {
  color: #a36a00;
}

.text-orange-3 {
  color: #b27400;
}

.text-orange-4 {
  color: #c17d00;
}

.text-orange-5 {
  color: #d08700;
}

.text-orange-6 {
  color: #e09100;
}

.text-orange-7 {
  color: #ef9b00;
}

.text-orange-8 {
  color: #f9a200;
}

.text-orange-9 {
  color: #ffa704;
}

.text-orange-10 {
  color: #ffab0f;
}

.text-orange-11 {
  color: #ffae19;
}

.text-orange-12 {
  color: #ffb01e;
}

.text-orange-13 {
  color: #ffb223;
}

.text-orange-14 {
  color: #ffb52d;
}

.text-orange-15 {
  color: #ffb937;
}

.text-orange-16 {
  color: #ffbe47;
}

.text-orange-17 {
  color: #ffc456;
}

.text-orange-18 {
  color: #ffc965;
}

.text-orange-19 {
  color: #ffcf75;
}

.text-orange-20 {
  color: #ffd689;
}

.text-orange-21 {
  color: #ffd993;
}

.text-orange-22 {
  color: #ffdd9d;
}

.text-orange-23 {
  color: #ffe0a8;
}

.text-orange-24 {
  color: #ffe4b2;
}

.text-orange-25 {
  color: #ffe8bc;
}

.text-teal {
  color: teal;
}

.text-teal-1 {
  color: #026b64;
}

.text-teal-2 {
  color: #02847b;
}

.text-teal-3 {
  color: #039389;
}

.text-teal-4 {
  color: #03a297;
}

.text-teal-5 {
  color: #03b1a6;
}

.text-teal-6 {
  color: #04c0b4;
}

.text-teal-7 {
  color: #04cfc2;
}

.text-teal-8 {
  color: #04d9cb;
}

.text-teal-9 {
  color: #04e3d4;
}

.text-teal-10 {
  color: #04edde;
}

.text-teal-11 {
  color: #05f7e7;
}

.text-teal-12 {
  color: #07faea;
}

.text-teal-13 {
  color: #0cfaeb;
}

.text-teal-14 {
  color: #16fbeb;
}

.text-teal-15 {
  color: #20fbec;
}

.text-teal-16 {
  color: #2ffbed;
}

.text-teal-17 {
  color: #3efbef;
}

.text-teal-18 {
  color: #4dfcf0;
}

.text-teal-19 {
  color: #5cfcf1;
}

.text-teal-20 {
  color: #70fcf3;
}

.text-teal-21 {
  color: #7afdf4;
}

.text-teal-22 {
  color: #84fdf5;
}

.text-teal-23 {
  color: #8efdf5;
}

.text-teal-24 {
  color: #98fdf6;
}

.text-teal-25 {
  color: #a2fdf7;
}

.text-purple {
  color: purple;
}

.text-purple-1 {
  color: #790079;
}

.text-purple-2 {
  color: #930093;
}

.text-purple-3 {
  color: #a200a2;
}

.text-purple-4 {
  color: #b100b1;
}

.text-purple-5 {
  color: #c000c0;
}

.text-purple-6 {
  color: #d000d0;
}

.text-purple-7 {
  color: #df00df;
}

.text-purple-8 {
  color: #e900e9;
}

.text-purple-9 {
  color: #f300f3;
}

.text-purple-10 {
  color: #fe00fe;
}

.text-purple-11 {
  color: #ff09ff;
}

.text-purple-12 {
  color: #ff0eff;
}

.text-purple-13 {
  color: #ff13ff;
}

.text-purple-14 {
  color: #ff1dff;
}

.text-purple-15 {
  color: #ff27ff;
}

.text-purple-16 {
  color: #ff37ff;
}

.text-purple-17 {
  color: #ff46ff;
}

.text-purple-18 {
  color: #ff55ff;
}

.text-purple-19 {
  color: #ff65ff;
}

.text-purple-20 {
  color: #ff79ff;
}

.text-purple-21 {
  color: #ff83ff;
}

.text-purple-22 {
  color: #ff8dff;
}

.text-purple-23 {
  color: #ff98ff;
}

.text-purple-24 {
  color: #ffa2ff;
}

.text-purple-25 {
  color: #ffacff;
}

.text-pink {
  color: pink;
}

.text-pink-1 {
  color: #be0668;
}

.text-pink-2 {
  color: #d70776;
}

.text-pink-3 {
  color: #e6077e;
}

.text-pink-4 {
  color: #f40886;
}

.text-pink-5 {
  color: #f8148d;
}

.text-pink-6 {
  color: #f82394;
}

.text-pink-7 {
  color: #f9319b;
}

.text-pink-8 {
  color: #f93ba0;
}

.text-pink-9 {
  color: #f945a5;
}

.text-pink-10 {
  color: #f94faa;
}

.text-pink-11 {
  color: #fa59af;
}

.text-pink-12 {
  color: #fa5eb1;
}

.text-pink-13 {
  color: #fa63b3;
}

.text-pink-14 {
  color: #fa6db8;
}

.text-pink-15 {
  color: #fb77bd;
}

.text-pink-16 {
  color: #fb86c4;
}

.text-pink-17 {
  color: #fc94cb;
}

.text-pink-18 {
  color: #fca3d3;
}

.text-pink-19 {
  color: #fdb2da;
}

.text-pink-20 {
  color: #fdc6e3;
}

.text-pink-21 {
  color: #fed0e8;
}

.text-pink-22 {
  color: #fedaed;
}

.text-pink-23 {
  color: #fee3f2;
}

.text-pink-24 {
  color: #feedf6;
}

.text-pink-25 {
  color: #fff7fb;
}

.text-gray {
  color: gray;
}

.text-gray-1 {
  color: #474747;
}

.text-gray-2 {
  color: #545454;
}

.text-gray-3 {
  color: #5b5b5b;
}

.text-gray-4 {
  color: #636363;
}

.text-gray-5 {
  color: #6b6b6b;
}

.text-gray-6 {
  color: #727272;
}

.text-gray-7 {
  color: #7a7a7a;
}

.text-gray-8 {
  color: #7f7f7f;
}

.text-gray-9 {
  color: #848484;
}

.text-gray-10 {
  color: #898989;
}

.text-gray-11 {
  color: #8e8e8e;
}

.text-gray-12 {
  color: #919191;
}

.text-gray-13 {
  color: #949494;
}

.text-gray-14 {
  color: #999999;
}

.text-gray-15 {
  color: #9e9e9e;
}

.text-gray-16 {
  color: #a5a5a5;
}

.text-gray-17 {
  color: #adadad;
}

.text-gray-18 {
  color: #b5b5b5;
}

.text-gray-19 {
  color: #bcbcbc;
}

.text-gray-20 {
  color: #c7c7c7;
}

.text-gray-21 {
  color: #cccccc;
}

.text-gray-22 {
  color: #d1d1d1;
}

.text-gray-23 {
  color: #d6d6d6;
}

.text-gray-24 {
  color: #dbdbdb;
}

.text-gray-25 {
  color: #e0e0e0;
}

.text-indigo {
  color: indigo;
}

.text-indigo-1 {
  color: #380060;
}

.text-indigo-2 {
  color: #47007a;
}

.text-indigo-3 {
  color: #500089;
}

.text-indigo-4 {
  color: #590098;
}

.text-indigo-5 {
  color: #6200a7;
}

.text-indigo-6 {
  color: #6b00b7;
}

.text-indigo-7 {
  color: #7400c6;
}

.text-indigo-8 {
  color: #7900d0;
}

.text-indigo-9 {
  color: #7f00da;
}

.text-indigo-10 {
  color: #8500e5;
}

.text-indigo-11 {
  color: #8b00ef;
}

.text-indigo-12 {
  color: #8e00f4;
}

.text-indigo-13 {
  color: #9100f9;
}

.text-indigo-14 {
  color: #9704ff;
}

.text-indigo-15 {
  color: #9b0eff;
}

.text-indigo-16 {
  color: #a11eff;
}

.text-indigo-17 {
  color: #a82dff;
}

.text-indigo-18 {
  color: #ae3cff;
}

.text-indigo-19 {
  color: #b44cff;
}

.text-indigo-20 {
  color: #bd60ff;
}

.text-indigo-21 {
  color: #c16aff;
}

.text-indigo-22 {
  color: #c574ff;
}

.text-indigo-23 {
  color: #ca7fff;
}

.text-indigo-24 {
  color: #ce89ff;
}

.text-indigo-25 {
  color: #d293ff;
}

.text-violet {
  color: violet;
}

.text-violet-1 {
  color: #431883;
}

.text-violet-2 {
  color: #4e1c99;
}

.text-violet-3 {
  color: #551ea5;
}

.text-violet-4 {
  color: #5b21b2;
}

.text-violet-5 {
  color: #6223bf;
}

.text-violet-6 {
  color: #6825cc;
}

.text-violet-7 {
  color: #6f29d8;
}

.text-violet-8 {
  color: #7532d9;
}

.text-violet-9 {
  color: #7b3adb;
}

.text-violet-10 {
  color: #8143dd;
}

.text-violet-11 {
  color: #874cde;
}

.text-violet-12 {
  color: #8950df;
}

.text-violet-13 {
  color: #8c54e0;
}

.text-violet-14 {
  color: #925de1;
}

.text-violet-15 {
  color: #9866e3;
}

.text-violet-16 {
  color: #a172e5;
}

.text-violet-17 {
  color: #a97fe8;
}

.text-violet-18 {
  color: #b28cea;
}

.text-violet-19 {
  color: #bb99ec;
}

.text-violet-20 {
  color: #c6aaf0;
}

.text-violet-21 {
  color: #ccb3f1;
}

.text-violet-22 {
  color: #d2bcf3;
}

.text-violet-23 {
  color: #d8c4f4;
}

.text-violet-24 {
  color: #ddcdf6;
}

.text-violet-25 {
  color: #e3d6f7;
}

.text-brown {
  color: brown;
}

.text-brown-1 {
  color: #840000;
}

.text-brown-2 {
  color: #9e0000;
}

.text-brown-3 {
  color: #ad0000;
}

.text-brown-4 {
  color: #bc0000;
}

.text-brown-5 {
  color: #cb0000;
}

.text-brown-6 {
  color: #db0000;
}

.text-brown-7 {
  color: #ea0000;
}

.text-brown-8 {
  color: #f40000;
}

.text-brown-9 {
  color: #fe0000;
}

.text-brown-10 {
  color: #ff0a0a;
}

.text-brown-11 {
  color: #ff1414;
}

.text-brown-12 {
  color: #ff1919;
}

.text-brown-13 {
  color: #ff1e1e;
}

.text-brown-14 {
  color: #ff2828;
}

.text-brown-15 {
  color: #ff3232;
}

.text-brown-16 {
  color: #ff4242;
}

.text-brown-17 {
  color: #ff5151;
}

.text-brown-18 {
  color: #ff6060;
}

.text-brown-19 {
  color: #ff7070;
}

.text-brown-20 {
  color: #ff8484;
}

.text-brown-21 {
  color: #ff8e8e;
}

.text-brown-22 {
  color: #ff9898;
}

.text-brown-23 {
  color: #ffa3a3;
}

.text-brown-24 {
  color: #ffadad;
}

.text-brown-25 {
  color: #ffb7b7;
}

.text-olive {
  color: olive;
}

.text-olive-1 {
  color: #365314;
}

.text-olive-2 {
  color: #436819;
}

.text-olive-3 {
  color: #4b741c;
}

.text-olive-4 {
  color: #53801f;
}

.text-olive-5 {
  color: #5b8d22;
}

.text-olive-6 {
  color: #639925;
}

.text-olive-7 {
  color: #6ba528;
}

.text-olive-8 {
  color: #71ad2a;
}

.text-olive-9 {
  color: #76b62c;
}

.text-olive-10 {
  color: #7cbe2e;
}

.text-olive-11 {
  color: #81c630;
}

.text-olive-12 {
  color: #84ca31;
}

.text-olive-13 {
  color: #86ce32;
}

.text-olive-14 {
  color: #8bd03b;
}

.text-olive-15 {
  color: #90d243;
}

.text-olive-16 {
  color: #97d54f;
}

.text-olive-17 {
  color: #9ed85b;
}

.text-olive-18 {
  color: #a6db68;
}

.text-olive-19 {
  color: #adde74;
}

.text-olive-20 {
  color: #b7e185;
}

.text-olive-21 {
  color: #bce38d;
}

.text-olive-22 {
  color: #c0e595;
}

.text-olive-23 {
  color: #c5e79d;
}

.text-olive-24 {
  color: #cae9a5;
}

.text-olive-25 {
  color: #cfebae;
}

.text-lime {
  color: lime;
}

.text-lime-1 {
  color: #00dd00;
}

.text-lime-2 {
  color: #00f700;
}

.text-lime-3 {
  color: #07ff07;
}

.text-lime-4 {
  color: #16ff16;
}

.text-lime-5 {
  color: #25ff25;
}

.text-lime-6 {
  color: #35ff35;
}

.text-lime-7 {
  color: #44ff44;
}

.text-lime-8 {
  color: #4eff4e;
}

.text-lime-9 {
  color: #58ff58;
}

.text-lime-10 {
  color: #63ff63;
}

.text-lime-11 {
  color: #6dff6d;
}

.text-lime-12 {
  color: #72ff72;
}

.text-lime-13 {
  color: #77ff77;
}

.text-lime-14 {
  color: #81ff81;
}

.text-lime-15 {
  color: #8bff8b;
}

.text-lime-16 {
  color: #9bff9b;
}

.text-lime-17 {
  color: #aaffaa;
}

.text-lime-18 {
  color: #b9ffb9;
}

.text-lime-19 {
  color: #c9ffc9;
}

.text-lime-20 {
  color: #ddffdd;
}

.text-lime-21 {
  color: #e7ffe7;
}

.text-lime-22 {
  color: #f1fff1;
}

.text-lime-23 {
  color: #fcfffc;
}

.text-lime-24 {
  color: white;
}

.text-lime-25 {
  color: white;
}

.text-fuchsia {
  color: fuchsia;
}

.text-fuchsia-1 {
  color: #701a75;
}

.text-fuchsia-2 {
  color: #841f8a;
}

.text-fuchsia-3 {
  color: #902196;
}

.text-fuchsia-4 {
  color: #9c24a3;
}

.text-fuchsia-5 {
  color: #a827af;
}

.text-fuchsia-6 {
  color: #b42abc;
}

.text-fuchsia-7 {
  color: #c02dc8;
}

.text-fuchsia-8 {
  color: #c82fd1;
}

.text-fuchsia-9 {
  color: #ca37d3;
}

.text-fuchsia-10 {
  color: #cc3fd4;
}

.text-fuchsia-11 {
  color: #ce48d6;
}

.text-fuchsia-12 {
  color: #d04cd7;
}

.text-fuchsia-13 {
  color: #d150d8;
}

.text-fuchsia-14 {
  color: #d358da;
}

.text-fuchsia-15 {
  color: #d561dc;
}

.text-fuchsia-16 {
  color: #d86ddf;
}

.text-fuchsia-17 {
  color: #dc7ae1;
}

.text-fuchsia-18 {
  color: #df86e4;
}

.text-fuchsia-19 {
  color: #e293e7;
}

.text-fuchsia-20 {
  color: #e7a3eb;
}

.text-fuchsia-21 {
  color: #e9acec;
}

.text-fuchsia-22 {
  color: #ebb4ee;
}

.text-fuchsia-23 {
  color: #edbcf0;
}

.text-fuchsia-24 {
  color: #f0c5f2;
}

.text-fuchsia-25 {
  color: #f2cdf4;
}

.text-aqua {
  color: aqua;
}

.text-aqua-1 {
  color: #007b7b;
}

.text-aqua-2 {
  color: #009595;
}

.text-aqua-3 {
  color: #00a4a4;
}

.text-aqua-4 {
  color: #00b3b3;
}

.text-aqua-5 {
  color: #00c2c2;
}

.text-aqua-6 {
  color: #00d2d2;
}

.text-aqua-7 {
  color: #00e1e1;
}

.text-aqua-8 {
  color: #00ebeb;
}

.text-aqua-9 {
  color: #00f5f5;
}

.text-aqua-10 {
  color: #01ffff;
}

.text-aqua-11 {
  color: #0bffff;
}

.text-aqua-12 {
  color: #10ffff;
}

.text-aqua-13 {
  color: #15ffff;
}

.text-aqua-14 {
  color: #1fffff;
}

.text-aqua-15 {
  color: #29ffff;
}

.text-aqua-16 {
  color: #39ffff;
}

.text-aqua-17 {
  color: #48ffff;
}

.text-aqua-18 {
  color: #57ffff;
}

.text-aqua-19 {
  color: #67ffff;
}

.text-aqua-20 {
  color: #7bffff;
}

.text-aqua-21 {
  color: #85ffff;
}

.text-aqua-22 {
  color: #8fffff;
}

.text-aqua-23 {
  color: #9affff;
}

.text-aqua-24 {
  color: #a4ffff;
}

.text-aqua-25 {
  color: #aeffff;
}

.text-dodgerblue {
  color: dodgerblue;
}

.text-dodgerblue-1 {
  color: #136dc8;
}

.text-dodgerblue-2 {
  color: #157adf;
}

.text-dodgerblue-3 {
  color: #1b81e9;
}

.text-dodgerblue-4 {
  color: #2889eb;
}

.text-dodgerblue-5 {
  color: #3691ec;
}

.text-dodgerblue-6 {
  color: #4498ed;
}

.text-dodgerblue-7 {
  color: #52a0ef;
}

.text-dodgerblue-8 {
  color: #5ca5ef;
}

.text-dodgerblue-9 {
  color: #65aaf0;
}

.text-dodgerblue-10 {
  color: #6eaff1;
}

.text-dodgerblue-11 {
  color: #78b5f2;
}

.text-dodgerblue-12 {
  color: #7cb7f3;
}

.text-dodgerblue-13 {
  color: #81baf3;
}

.text-dodgerblue-14 {
  color: #8abff4;
}

.text-dodgerblue-15 {
  color: #94c4f5;
}

.text-dodgerblue-16 {
  color: #a2ccf6;
}

.text-dodgerblue-17 {
  color: #b0d3f7;
}

.text-dodgerblue-18 {
  color: #bedbf9;
}

.text-dodgerblue-19 {
  color: #cbe3fa;
}

.text-dodgerblue-20 {
  color: #deedfc;
}

.text-dodgerblue-21 {
  color: #e7f2fd;
}

.text-dodgerblue-22 {
  color: #f1f7fe;
}

.text-dodgerblue-23 {
  color: #fafcff;
}

.text-dodgerblue-24 {
  color: white;
}

.text-dodgerblue-25 {
  color: white;
}

.text-silver {
  color: silver;
}

.text-silver-1 {
  color: #575555;
}

.text-silver-2 {
  color: #646262;
}

.text-silver-3 {
  color: #6c6969;
}

.text-silver-4 {
  color: #737171;
}

.text-silver-5 {
  color: #7b7878;
}

.text-silver-6 {
  color: #838080;
}

.text-silver-7 {
  color: #8a8888;
}

.text-silver-8 {
  color: #8f8d8d;
}

.text-silver-9 {
  color: #949292;
}

.text-silver-10 {
  color: #999797;
}

.text-silver-11 {
  color: #9f9c9c;
}

.text-silver-12 {
  color: #a19f9f;
}

.text-silver-13 {
  color: #a4a1a1;
}

.text-silver-14 {
  color: #a9a7a7;
}

.text-silver-15 {
  color: #aeacac;
}

.text-silver-16 {
  color: #b5b3b3;
}

.text-silver-17 {
  color: #bdbbbb;
}

.text-silver-18 {
  color: #c4c3c3;
}

.text-silver-19 {
  color: #cccbcb;
}

.text-silver-20 {
  color: #d6d5d5;
}

.text-silver-21 {
  color: #dbdada;
}

.text-silver-22 {
  color: #e0dfdf;
}

.text-silver-23 {
  color: #e5e4e4;
}

.text-silver-24 {
  color: #eaeaea;
}

.text-silver-25 {
  color: #efefef;
}

.text-gold {
  color: gold;
}

.text-gold-1 {
  color: #6b5c07;
}

.text-gold-2 {
  color: #837109;
}

.text-gold-3 {
  color: #917d0a;
}

.text-gold-4 {
  color: #a0890a;
}

.text-gold-5 {
  color: #ae960b;
}

.text-gold-6 {
  color: #bca20c;
}

.text-gold-7 {
  color: #cbae0d;
}

.text-gold-8 {
  color: #d4b70e;
}

.text-gold-9 {
  color: #debf0f;
}

.text-gold-10 {
  color: #e7c70f;
}

.text-gold-11 {
  color: #efce11;
}

.text-gold-12 {
  color: #f0cf16;
}

.text-gold-13 {
  color: #f0d01b;
}

.text-gold-14 {
  color: #f1d224;
}

.text-gold-15 {
  color: #f1d42e;
}

.text-gold-16 {
  color: #f2d73c;
}

.text-gold-17 {
  color: #f3da4b;
}

.text-gold-18 {
  color: #f4dd59;
}

.text-gold-19 {
  color: #f5e068;
}

.text-gold-20 {
  color: #f6e47b;
}

.text-gold-21 {
  color: #f7e684;
}

.text-gold-22 {
  color: #f8e88e;
}

.text-gold-23 {
  color: #f8ea97;
}

.text-gold-24 {
  color: #f9eca1;
}

.text-gold-25 {
  color: #f9eeab;
}