// Padding-top classes
$padding-size: 0.25rem;
$padding-start: 1;
$padding-end: 100;
@for $value from $padding-start through $padding-end {
  .pt-#{$value} {
    padding-top: $value * $padding-size;
  }
   
}
