// Padding-bottom classes
$padding-size: 0.25rem;
$padding-start: 1;
$padding-end: 100;
@for $value from $padding-start through $padding-end {
  .pb-#{$value} {
    padding-bottom: $value * $padding-size; 
  }
    
}