/* Padding classes */

.p-1 { padding: 0.25rem; /* 4px */ }
.p-2 { padding: 0.5rem; /* 8px */ }
.p-3 { padding: 0.75rem; /* 12px */ }
.p-4 { padding: 1rem; /* 16px */ }
.p-5 { padding: 1.25rem; /* 20px */ }
.p-6 { padding: 1.5rem; /* 24px */ }
.p-7 { padding: 1.75rem; /* 28px */ }
.p-8 { padding: 2rem; /* 32px */ }
.p-9 { padding: 2.25rem; /* 36px */ }
.p-10 { padding: 2.5rem; /* 40px */ }
.p-11 { padding: 2.75rem; /* 44px */ }
.p-12 { padding: 3rem; /* 48px */ }
.p-13 { padding: 3.25rem; /* 52px */ }
.p-14 { padding: 3.5rem; /* 56px */ }
.p-15 { padding: 3.75rem; /* 60px */ }
.p-16 { padding: 4rem; /* 64px */ }
.p-17 { padding: 4.25rem; /* 68px */ }
.p-18 { padding: 4.5rem; /* 72px */ }
.p-19 { padding: 4.75rem; /* 76px */ }
.p-20 { padding: 5rem; /* 80px */ }
.p-21 { padding: 5.25rem; /* 84px */ }
.p-22 { padding: 5.5rem; /* 88px */ }
.p-23 { padding: 5.75rem; /* 92px */ }
.p-24 { padding: 6rem; /* 96px */ }
.p-25 { padding: 6.25rem; /* 100px */ }
.p-26 { padding: 6.5rem; /* 104px */ }
.p-27 { padding: 6.75rem; /* 108px */ }
.p-28 { padding: 7rem; /* 112px */ }
.p-29 { padding: 7.25rem; /* 116px */ }
.p-30 { padding: 7.5rem; /* 120px */ }
.p-31 { padding: 7.75rem; /* 124px */ }
.p-32 { padding: 8rem; /* 128px */ }
.p-33 { padding: 8.25rem; /* 132px */ }
.p-34 { padding: 8.5rem; /* 136px */ }
.p-35 { padding: 8.75rem; /* 140px */ }
.p-36 { padding: 9rem; /* 144px */ }
.p-37 { padding: 9.25rem; /* 148px */ }
.p-38 { padding: 9.5rem; /* 152px */ }
.p-39 { padding: 9.75rem; /* 156px */ }
.p-40 { padding: 10rem; /* 160px */ }
.p-41 { padding: 10.25rem; /* 164px */ }
.p-42 { padding: 10.5rem; /* 168px */ }
.p-43 { padding: 10.75rem; /* 172px */ }
.p-44 { padding: 11rem; /* 176px */ }
.p-45 { padding: 11.25rem; /* 180px */ }
.p-46 { padding: 11.5rem; /* 184px */ }
.p-47 { padding: 11.75rem; /* 188px */ }
.p-48 { padding: 12rem; /* 192px */ }
.p-49 { padding: 12.25rem; /* 196px */ }
.p-50 { padding: 12.5rem; /* 200px */ }
.p-51 { padding: 12.75rem; /* 204px */ }
.p-52 { padding: 13rem; /* 208px */ }
.p-53 { padding: 13.25rem; /* 212px */ }
.p-54 { padding: 13.5rem; /* 216px */ }
.p-55 { padding: 13.75rem; /* 220px */ }
.p-56 { padding: 14rem; /* 224px */ }
.p-57 { padding: 14.25rem; /* 228px */ }
.p-58 { padding: 14.5rem; /* 232px */ }
.p-59 { padding: 14.75rem; /* 236px */ }
.p-60 { padding: 15rem; /* 240px */ }
.p-61 { padding: 15.25rem; /* 244px */ }
.p-62 { padding: 15.5rem; /* 248px */ }
.p-63 { padding: 15.75rem; /* 252px */ }
.p-64 { padding: 16rem; /* 256px */ }
.p-65 { padding: 16.25rem; /* 260px */ }
.p-66 { padding: 16.5rem; /* 264px */ }
.p-67 { padding: 16.75rem; /* 268px */ }
.p-68 { padding: 17rem; /* 272px */ }
.p-69 { padding: 17.25rem; /* 276px */ }
.p-70 { padding: 17.5rem; /* 280px */ }
.p-71 { padding: 17.75rem; /* 284px */ }
.p-72 { padding: 18rem; /* 288px */ }
.p-73 { padding: 18.25rem; /* 292px */ }
.p-74 { padding: 18.5rem; /* 296px */ }
.p-75 { padding: 18.75rem; /* 300px */ }
.p-76 { padding: 19rem; /* 304px */ }
.p-77 { padding: 19.25rem; /* 308px */ }
.p-78 { padding: 19.5rem; /* 312px */ }
.p-79 { padding: 19.75rem; /* 316px */ }
.p-80 { padding: 20rem; /* 320px */ }
.p-81 { padding: 20.25rem; /* 324px */ }
.p-82 { padding: 20.5rem; /* 328px */ }
.p-83 { padding: 20.75rem; /* 332px */ }
.p-84 { padding: 21rem; /* 336px */ }
.p-85 { padding: 21.25rem; /* 340px */ }
.p-86 { padding: 21.5rem; /* 344px */ }
.p-87 { padding: 21.75rem; /* 348px */ }
.p-88 { padding: 22rem; /* 352px */ }
.p-89 { padding: 22.25rem; /* 356px */ }
.p-90 { padding: 22.5rem; /* 360px */ }
.p-91 { padding: 22.75rem; /* 364px */ }
.p-92 { padding: 23rem; /* 368px */ }
.p-93 { padding: 23.25rem; /* 372px */ }
.p-94 { padding: 23.5rem; /* 376px */ }
.p-95 { padding: 23.75rem; /* 380px */ }
.p-96 { padding: 24rem; /* 384px */ }
.p-97 { padding: 24.25rem; /* 388px */ }
.p-98 { padding: 24.5rem; /* 392px */ }
.p-99 { padding: 24.75rem; /* 396px */ }
.p-100 {padding: 25rem; /* 400px */ }