// height classes
$height-size: 0.25rem;
$height-percent:1%;
$height-viewHeight:1vh;

$height-start: 1;
$height-end: 100;

.h-screen{
  height: 83.2vh;
}
@for $value from $height-start through $height-end {
  .h-#{$value}vh{
    height: $value * $height-viewHeight;
    
  }
  
}
@for $value from $height-start through $height-end {
  .h-#{$value}pr{
    height: $value * $height-percent;
    
  }
  
}
@for $value from $height-start through $height-end {
  .h-#{$value}{
    height: $value * $height-size;
    

  }
  
}
