// width class

$width-size: 0.25rem;
$width-percent:1%;
$width-veiwWidth:1vh;

$width-start: 1;
$width-end: 100;

.w-screen{
  width: 100%;
}
@for $value from $width-start through $width-end {
  .w-#{$value}vh{
    width: $value * $width-veiwWidth;
    
  }
  
}
@for $value from $width-start through $width-end {
  .w-#{$value}pr{
    width: $value * $width-percent;
    
  }
  
}
@for $value from $width-start through $width-end {
  .w-#{$value}{
    width: $value * $width-size;
    
  }
  
}
