/* Margin bottom classes */
.mb-1 { margin-bottom: 0.25rem; /* 4px */ }
.mb-2 { margin-bottom: 0.5rem; /* 8px */ }
.mb-3 { margin-bottom: 0.75rem; /* 12px */ }
.mb-4 { margin-bottom: 1rem; /* 16px */ }
.mb-5 { margin-bottom: 1.25rem; /* 20px */ }
.mb-6 { margin-bottom: 1.5rem; /* 24px */ }
.mb-7 { margin-bottom: 1.75rem; /* 28px */ }
.mb-8 { margin-bottom: 2rem; /* 32px */ }
.mb-9 { margin-bottom: 2.25rem; /* 36px */ }
.mb-11 { margin-bottom: 2.75rem; /* 44px */ }
.mb-10 { margin-bottom: 2.5rem; /* 40px */ }
.mb-12 { margin-bottom: 3rem; /* 48px */ }
.mb-13 { margin-bottom: 3.25rem; /* 52px */ }
.mb-14 { margin-bottom: 3.5rem; /* 56px */ }
.mb-15 { margin-bottom: 3.75rem; /* 60px */ }
.mb-16 { margin-bottom: 4rem; /* 64px */ }
.mb-17 { margin-bottom: 4.25rem; /* 68px */ }
.mb-18 { margin-bottom: 4.5rem; /* 72px */ }
.mb-19 { margin-bottom: 4.75rem; /* 76px */ }
.mb-20 { margin-bottom: 5rem; /* 80px */ }
.mb-21 { margin-bottom: 5.25rem; /* 84px */ }
.mb-22 { margin-bottom: 5.5rem; /* 88px */ }
.mb-23 { margin-bottom: 5.75rem; /* 92px */ }
.mb-24 { margin-bottom: 6rem; /* 96px */ }
.mb-25 { margin-bottom: 6.25rem; /* 100px */ }
.mb-26 { margin-bottom: 6.5rem; /* 104px */ }
.mb-27 { margin-bottom: 6.75rem; /* 108px */ }
.mb-28 { margin-bottom: 7rem; /* 112px */ }
.mb-29 { margin-bottom: 7.25rem; /* 116px */ }
.mb-30 { margin-bottom: 7.5rem; /* 120px */ }
.mb-31 { margin-bottom: 7.75rem; /* 124px */ }
.mb-32 { margin-bottom: 8rem; /* 128px */ }
.mb-33 { margin-bottom: 8.25rem; /* 132px */ }
.mb-34 { margin-bottom: 8.5rem; /* 136px */ }
.mb-35 { margin-bottom: 8.75rem; /* 140px */ }
.mb-36 { margin-bottom: 9rem; /* 144px */ }
.mb-37 { margin-bottom: 9.25rem; /* 148px */ }
.mb-38 { margin-bottom: 9.5rem; /* 152px */ }
.mb-39 { margin-bottom: 9.75rem; /* 156px */ }
.mb-40 { margin-bottom: 10rem; /* 160px */ }
.mb-41 { margin-bottom: 10.25rem; /* 164px */ }
.mb-42 { margin-bottom: 10.5rem; /* 168px */ }
.mb-43 { margin-bottom: 10.75rem; /* 172px */ }
.mb-44 { margin-bottom: 11rem; /* 176px */ }
.mb-45 { margin-bottom: 11.25rem; /* 180px */ }
.mb-46 { margin-bottom: 11.5rem; /* 184px */ }
.mb-47 { margin-bottom: 11.75rem; /* 188px */ }
.mb-48 { margin-bottom: 12rem; /* 192px */ }
.mb-49 { margin-bottom: 12.25rem; /* 196px */ }
.mb-50 { margin-bottom: 12.5rem; /* 200px */ }
.mb-51 { margin-bottom: 12.75rem; /* 204px */ }
.mb-52 { margin-bottom: 13rem; /* 208px */ }
.mb-53 { margin-bottom: 13.25rem; /* 212px */ }
.mb-54 { margin-bottom: 13.5rem; /* 216px */ }
.mb-55 { margin-bottom: 13.75rem; /* 220px */ }
.mb-56 { margin-bottom: 14rem; /* 224px */ }
.mb-57 { margin-bottom: 14.25rem; /* 228px */ }
.mb-58 { margin-bottom: 14.5rem; /* 232px */ }
.mb-59 { margin-bottom: 14.75rem; /* 236px */ }
.mb-60 { margin-bottom: 15rem; /* 240px */ }
.mb-61 { margin-bottom: 15.25rem; /* 244px */ }
.mb-62 { margin-bottom: 15.5rem; /* 248px */ }
.mb-63 { margin-bottom: 15.75rem; /* 252px */ }
.mb-64 { margin-bottom: 16rem; /* 256px */ }
.mb-65 { margin-bottom: 16.25rem; /* 260px */ }
.mb-66 { margin-bottom: 16.5rem; /* 264px */ }
.mb-67 { margin-bottom: 16.75rem; /* 268px */ }
.mb-68 { margin-bottom: 17rem; /* 272px */ }
.mb-69 { margin-bottom: 17.25rem; /* 276px */ }
.mb-70 { margin-bottom: 17.5rem; /* 280px */ }
.mb-71 { margin-bottom: 17.75rem; /* 284px */ }
.mb-72 { margin-bottom: 18rem; /* 288px */ }
.mb-73 { margin-bottom: 18.25rem; /* 292px */ }
.mb-74 { margin-bottom: 18.5rem; /* 296px */ }
.mb-75 { margin-bottom: 18.75rem; /* 300px */ }
.mb-76 { margin-bottom: 19rem; /* 304px */ }
.mb-77 { margin-bottom: 19.25rem; /* 308px */ }
.mb-78 { margin-bottom: 19.5rem; /* 312px */ }
.mb-79 { margin-bottom: 19.75rem; /* 316px */ }
.mb-80 { margin-bottom: 20rem; /* 320px */ }
.mb-81 { margin-bottom: 20.25rem; /* 324px */ }
.mb-82 { margin-bottom: 20.5rem; /* 328px */ }
.mb-83 { margin-bottom: 20.75rem; /* 332px */ }
.mb-84 { margin-bottom: 21rem; /* 336px */ }
.mb-85 { margin-bottom: 21.25rem; /* 340px */ }
.mb-86 { margin-bottom: 21.5rem; /* 344px */ }
.mb-87 { margin-bottom: 21.75rem; /* 348px */ }
.mb-88 { margin-bottom: 22rem; /* 352px */ }
.mb-89 { margin-bottom: 22.25rem; /* 356px */ }
.mb-90 { margin-bottom: 22.5rem; /* 360px */ }
.mb-91 { margin-bottom: 22.75rem; /* 364px */ }
.mb-92 { margin-bottom: 23rem; /* 368px */ }
.mb-93 { margin-bottom: 23.25rem; /* 372px */ }
.mb-94 { margin-bottom: 23.5rem; /* 376px */ }
.mb-95 { margin-bottom: 23.75rem; /* 380px */ }
.mb-96 { margin-bottom: 24rem; /* 384px */ }
.mb-97 { margin-bottom: 24.25rem; /* 388px */ }
.mb-98 { margin-bottom: 24.5rem; /* 392px */ }
.mb-99 { margin-bottom: 24.75rem; /* 396px */ }
.mb-100 { margin-bottom: 25rem; /* 400px */ }
